<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>trungnd.Filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trungnd.controllers.MainController</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trungnd.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>trungnd.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>trungnd.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>trungnd.controllers.LogOutController</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>AddCakeController</servlet-name>
        <servlet-class>trungnd.controllers.AddCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>trungnd.controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>trungnd.controllers.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>trungnd.controllers.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>trungnd.controllers.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>trungnd.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>trungnd.controllers.ShowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuantityCakeController</servlet-name>
        <servlet-class>trungnd.controllers.ChangeQuantityCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>trungnd.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>trungnd.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            loginPage.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddCakeController</servlet-name>
        <url-pattern>/AddCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/AddCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/ShowCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuantityCakeController</servlet-name>
        <url-pattern>/ChangeQuantityCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
